# Google API OAuth Client ID Credentials
GOOGLE_CLIENT_ID=YOUR_CLIENT_ID_HERE
GOOGLE_CLIENT_SECRET=YOUR_CLIENT_SECRET_HERE

# Google Services IDs
GOOGLE_SHEET_ID=YOUR_SHEET_ID_HERE
GOOGLE_DRIVE_FOLDER_ID=YOUR_DRIVE_FOLDER_ID_HERE

# Gemini API
GEMINI_API_KEY=YOUR_GEMINI_API_KEY_HERE

# Backend Config
FRONTEND_URL=http://localhost:5173
