# Google API OAuth Client ID Credentials
GOOGLE_CLIENT_ID=your_client_id_here.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret_here

# Google Services IDs
GOOGLE_SHEET_ID=your_google_sheet_id_here
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id_here

# Gemini API
GEMINI_API_KEY=your_gemini_api_key_here

# Backend Config
FRONTEND_URL=http://localhost:5173
